DB_HOST=postgres_db
DB_PORT=5432
DB_PASS=your_password
DB_USER=postgres
DB_NAME=postgres
DB_PGUSER=postgres

TEST_DB_HOST=postgres_test_db
TEST_DB_PORT=5432
TEST_DB_PASS=your_password
TEST_DB_USER=postgres
TEST_DB_NAME=postgres
TEST_DB_PGUSER=postgres

REDIS_HOST=redis
REDIS_PORT=6379

TEST_REDIS_HOST=redis_test
TEST_REDIS_PORT=6379

BROKER_HOST=rabbitmq
BROKER_PORT=5672
BROKER_USER=guest
BROKER_PASS=guest

BACKEND_HOST=rabbitmq
BACKEND_PORT=5672
BACKEND_USER=guest
BACKEND_PASS=guest
