asyncpg==0.28.0
celery==5.3.1
fastapi[all]==0.100.0
pandas==2.0.3
pre-commit==3.3.3
pytest==7.4.0
pytest-asyncio==0.21.1
pytest-mock==3.11.1
python-dotenv==1.0.0
openpyxl==3.1.2
redis==4.6.0
SQLAlchemy==2.0.19
